{% extends 'base.html' %}

{% block content %}
<div>
  {%load static %}
  <img width="100px" height="100px" src="{% static profile.image|cut:'main_app/static/' %}" alt=""/>
  </div>
  <form method="POST" action="{% url 'user_update' user.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <div class="form-group">
      <label for="id_file">File Upload:</label>
      <input type="file" name="image" >
    </div>
    <input type="submit" value="Update">


  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let typeFile = document.getElementById('id_type');
      M.FormSelect.init(typeFile);
      
      let serviceFile = document.getElementById('id_service');
      M.FormSelect.init(serviceFile);
    });
  </script>
{% endblock %}
