{% extends 'base.html' %}

{% block content %}

<div class="addwork-header reveal">
  <div class="addwork-symbol"><img src="https://i.postimg.cc/tgwQ4c6V/symbol.png" alt="logo" width="20" ></div>

  <h2 class="reveal">We are proud of our team ...</h2>

  <p class="reveal">"Cheers to you for a job well done! No one can compare to your creativity and passion, and it's no surprise that you've become so successful."</p>
</div>
<div class="profile-box reveal">
  <h2>Personal Profile</h2>

  {% if profile %}
  <div>
    {%load static %}
    <img width="50%"  src="{% static profile.image|cut:'main_app/static/' %}" alt=""/>
    </div>
    <div class="addwork-symbol"><img src="https://i.postimg.cc/tgwQ4c6V/symbol.png" alt="logo" width="20" ></div>
    <p>Name: {{ profile.user.username }}</p>
    <p>Email: {{ profile.user.email }}</p>


      {% if profile.service == '10' %}
      <p>{{profile.view}}</p>
      <div class="img-box">
        <iframe width="600px" height="350" src="{{profile.view}}" frameborder="0"></iframe>
      </div>
      {% endif %}

    <button class="btn"><a href="{% url 'user_update' user.id %}" > Edit </a></button>





  {% else %}
    <p>No profile found for this user.</p>
  {% endif %}
  </div>



  <style>
    .profile-box {
      background-color: #0F202A;
      color: white;
      text-align: center;
      justify-content: center;
      width: 50%;
      margin: auto;
      font-size: 22px;
      padding: 2.7%;
      margin-bottom: 5%;
    }
  </style>
{% endblock %}
