{% extends 'base.html' %}

{% block content %}
<h3>Inbox</h3>
{% for message in messages_list %}
{% if message.reply == False %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        {% load static %}
        <img alt="" src="{%  static 'images/user.jpg' %}" class="circle responsive-img"> 
      </div>
      <div class="col s10">
        <table>
          <thead>
            <tr>
                <th>Sender</th>
                <th>Email</th>
                <th>Event Type</th>
                <th></th>
                <th></th>
        
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{message.sender}}</td>
              <td>{{message.email}}</td>
              <td>{{message.eventType}}</td>
              <td>{{message.reply}}</td>
              <td><a href="{% url 'message_detail' message.id %}" class="btn-floating pulse"><i class="material-icons">description</i></a>
              </a></td>
            </tr>
          </tbody>
        </table>      
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}

<h3>Reply Messages</h3>
{% for message in messages_list %}
{% if message.reply == True %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        {% load static %}
        <img src="{%  static 'images/user.jpg' %}" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s10">
        <table>
          <thead>
            <tr>
                <th>Sender</th>
                <th>Email</th>
                <th>Event Type</th>
                <th></th>
                <th></th>
        
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{message.sender}}</td>
              <td>{{message.email}}</td>
              <td>{{message.eventType}}</td>
              <td>{{message.reply}}</td>
              <td><a href="{% url 'message_detail' message.id %}" class="btn-floating pulse"><i class="material-icons">description</i></a>
              </a></td>
            </tr>
          </tbody>
        </table>      
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}

{% endblock %}