{% extends 'base.html' %}

{% block content %}

<!-- {% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1>Add Work</h1>
{% endif %} -->



<div class="addwork-header">
  <div class="addwork-symbol"><img src="https://i.postimg.cc/tgwQ4c6V/symbol.png" alt="logo" width="20" ></div>

  <h2>Let's do it together ...</h2>

  <p>"Cheers to you for a job well done! No one can compare to your creativity and passion, and it's no surprise that you've become so successful."</p>
</div>



<div class="addwork-page">
  <div class="addwork-cont">
    <div class="addworkform-img"><img alt="" src="https://i.postimg.cc/CxLgbTmn/whiteflower.jpg" class="addworkform-image" ></div>
    <div class="addworkform-cont">

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form.title.label_tag }} {{ form.title }}
          {{ form.description.label_tag }} {{ form.description }}
          {{ form.worktype.label_tag }} {{ form.worktype }}
          {{ form.category.label_tag }} {{ form.category }} <br>
          {{ form.users.label_tag }}{{ form.users }}
          <input type="file" name="images" accept="image/*" multiple>
        </table>
        <input type="submit" value="Submit" class="btn">
      </form>

</div>

</div>
</div>


<script>
  let categoryFle = document.getElementById('id_category')
  M.FormSelect.init(categoryFle)

  let usersFle = document.getElementById('id_users')
  M.FormSelect.init(usersFle)
  </script>


{% endblock %}




