{% extends 'base.html' %}

{% block content %}

<!-- <div class="bgImage">
  <div class="overlay"></div>

  <div class="content">
  <h1>Please Work</h1>
  <p> ajaslkdlkd asdlkahdlks aldkhalkhda aldkaldh eodjmd;; djjddd d asdlkahdlks aldkhald asdlkahdlks aldkhald asdlkahdlks aldkhal</p>
  <button>Explore Now</button>

</div>
</div> -->
<div id="container">
  <div id="slideshow">
    <img src="https://i.ibb.co/FWM91wp/photo-1519657502999-ab785d28a1f6.jpg" />
    <img src="https://i.ibb.co/m5mF0ZX/m9Ty6WR.jpg" />
    <img src="https://i.ibb.co/qCsxgSN/photo-1519225421980-715cb0215aed.jpg" />
    <img src="https://i.ibb.co/1mcd6XS/photo-1523521803700-b3bcaeab0150.jpg" />
    <img src="https://i.ibb.co/0XBrLJ5/photo-1625075963372-7320c2cca6f3.jpg" />



  </div>
</div>





<div class="aboutus">
  <img src="../static/images/symbol.png" alt="logo" width="20" >
</div>

<div class="aboutus1">
 <div class="left aboutus-left"> <img src="../static/images/b.png" alt="logo" width="145" ></div>
 <div class="right aboutus-right"> 
  <h1>About us</h1>

  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p></div>

</div>


  

{% endblock %}