@font-face {
  font-family: Audery-Normal;
  src: url(../fonts/Audrey-Normal.otf);
}
@font-face {
  font-family: Audery-Bold;
  src: url(../fonts/Audrey-Bold.otf);
}

@font-face {
  font-family: Harmony;
  src: url(../fonts/Harmony.otf);
}

body {
  margin:0;
  color: black!important;
  background-color: #F5F5F3;
  font-family: Audery-Normal;
}

.mynavbar {
  overflow: hidden !important;
}

.mynavbar a {
  font-family: Audery-Normal;
  float: left !important;
  font-size: 16px !important;
  color: black !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important;
}

.mydropdown {
  float: left !important;
  overflow: hidden !important;
}

.mydropdown .mydropbtn {
  font-size: 16px !important;  
  border: none !important;
  outline: none !important;
  color: black !important;
  padding: 14px 16px !important;
  background-color: inherit !important;
  font-family: inherit !important;
  margin: 0 !important;
}

.mynavbar a:hover, .mydropdown:hover .mydropbtn {
  background-color:#ddd !important;
}

.mydropdown-content {
  display: none !important;
  position: absolute !important;
  background-color: #f9f9f9 !important;
  min-width: 160px!important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
  z-index: 1 !important;
}

.mydropdown-content a {
  float: none !important;
  color: black !important;
  padding: 12px 16px !important;
  text-decoration: none !important;
  display: block !important;
  text-align: left !important;
}

.mydropdown-content a:hover {
  background-color: #ddd !important;
}

.mydropdown:hover .mydropdown-content {
  display: block !important;
}

.message{
  border-style: solid;
  color: black;
}

.tbl{
  text-decoration: none !important;
}

label{
  color: blue;
}

.btn a {
  color: white;
}




/* SLIDESHOW HOMEPAGE STYLING STARTS HERE */
@keyframes fadey { 
  0% { opacity: 0; }
  15% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
  }

  
  div#slideshow { 
    width: 100%; 
    margin: 0 ; 
    position: relative; 
    padding: 0;
 
  }
  div#slideshow img { 
    position: absolute; 
    left: 0; top: 0; 
    width: 100%;
    height: 100%; 
    margin: 0 ;
    opacity: 0; 
    padding: 0;
  }
  div#slideshow img:first-child { position: relative; }
  
  #container:fullscreen { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0;
    margin: 0 ;
   
  }
  #container:-moz-full-screen div, #container:-ms-full-screen div, #container:-webkit-fullscreen div, #container:fullscreen div { 
    width: 100%;
    margin: 0 ;
    padding: 0;
  }


  /* SLIDESHOW STYLING ENDS HERE */


  /* ABOUTUS STYLING STARTS HERE */
.aboutus1 {
  background-color: #0F202A;
  color: white;
  margin: 0;
  text-align:center;
  justify-content: center;
  font-family: Audery-Normal;
  padding: 40px;
  font-size: 23px;
  height: 400px;
}

.aboutus1 h1{
  font-family: Audery-Bold;
  margin: 0;
}

.aboutus1 p{
  text-align: justify;
  justify-content: center;
  width: 550px;
}

.aboutus {
  background-color: #0F202A;
  text-align: center;
  margin: 0;
  justify-content: center;
  padding: 40px;
  height: 40px;
}

.aboutus-left {
  padding-left: 10%;
}

.aboutus-right {
  padding-right: 10%;
}

/* ABOUTUS STYLING STARTS HERE */



/* Signup Form Starts here */
.signup-page{
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
}

.signup-cont{
  display: block;
  text-align: center;
  border-radius: 2px;
  background-color: #f2f2f2;
  margin-bottom: 10%;
  display: flex;
  width: 80%;
  padding-left: 3%;
  justify-content: center;
}

.form-img{
  display: inline-block;
  padding-left: 8%;
 
}
.form-image {
  width: 110%;
}

.form-cont{
  display: inline-block;
  text-align: left;
  width: 50%;
}

.btn {
  background-color: black;
  margin-top: 6%;
  margin-bottom: 6%;

}

label{
  font-family: Audery-Normal;
  font-size: 19px;
}


/* Signup Form Ends here */


/* Login Form Starts here */
.login-page{
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
}

.login-cont{
  display: block;
  text-align: center;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 10%;
  display: flex;
  width: 80%;
  padding-left: 3%;
  justify-content: center;
}

.form-img{
  display: inline-block;
  padding-left: 8%;
 
}
.form-image {
  width: 110%;
}

.form-cont{
  display: inline-block;
  text-align: left;
  width: 50%;
}

/* Login Form Ends here */



/* AddWork Form Starts here */
.addwork-page{
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
}

.addwork-cont{
  text-align: center;
  border-radius: 2px;
  background-color:antiquewhite;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  width: 90vh;
  padding-left: 0;
  justify-content: center;
  margin-top: 0;
}

.addworkform-img{
  width: 90vh;
  margin: auto;
  padding: auto;
  
}

.addworkform-image {
  width: 90vh;
}

.addworkform-cont{
  text-align: left;
  width: 80vh;
  margin: auto;
  padding: auto;
}



.addwork-header{
  color: black;
  text-align:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: Audery-Normal;
  font-size: 23px;
  height: 320px;
  margin-top: 0;
}




.addwork-header h2{
  font-family: Audery-Bold;
  padding: 0;
  line-height: 0;
  margin-top: 0;
}

.addwork-header p{
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 0;
  padding: 0;
}

.addwork-symbol {
  text-align: center;
  margin: 0;
  padding-bottom: 8%;
  justify-content: center;
  height: 40px;
}

/* AddWork Form Ends here */


/* Testimonials Starts here */
.reviews{
  display: block;
  text-align: justify;
  display: flex;
  background-color: white;
  font-family: Audery-Normal;
  font-size: 20px;
  width: 100%;
  padding-left: 3%;
  justify-content: center;
}

.rev1 {
  display: inline-block;
  width: 420px;
  padding: 3%;
  
}

.rev2 {
  display: inline-block;
  width: 420px;
  padding: 3%;
}

.rev3 {
  display: inline-block;
  width: 420px;
  padding: 3%;
}

.signature {
  font-family: Harmony;
  font-size: 70px;
  font-weight: 300;
  line-height: 40px;;
}

.rev-h{
  display: flex;
  justify-content: center;
  background-color: white;
}


.rev-h h1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;

}

/* Reviews Styling ends here */

.home-q {
  background-color: #0F202A;
  text-align: center;
  margin: 0;
  justify-content: center;
  padding: 40px;
  color: white;
  font-family: Audery-Normal;
  font-size: 32px;

}



/* VIP CLIENTS Starts here */
.vip-clients{
  text-align: justify;
  margin-bottom: 10%;
  display: flex;
  background-color: #F5F5F3;
  width: 100%;
  padding-left: 9%;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
  
}

.vip-heading {
  text-align: justify;
  display: flex;
  background-color: #F5F5F3;
  flex-direction: column;
  font-family: Audery-Normal;
  font-size: 20px;
  width: 100%;
  justify-content: center;
}

.vip-heading p, img{
  margin: auto;
}
.vip-heading img{
  padding-bottom: 2%;
  padding-top: 2%;
}



.logo1 {
  display: inline-block;
  width: 420px;
  padding-top: 2%;

  
}

.logo2 {
  display: inline-block;
  width: 420px;
  padding-top: 2%;
 
}

.logo3 {
  display: inline-block;
  width: 420px;
  padding-top: 2%;
  
}

.logo4 {
  display: inline-block;
  width: 420px;
  padding-top: 2%;

}

/* VIP CLIENTS ends here */


/* Ease in animation starts here */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.reveal{
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Ease in animation ends here */


/* Work Detail Page starts here */

.WorkDetail-Img {
  height: 200px;
}

/* Work Detail Page ends here */


/* Ctaegory Work Page starts here */
.portfolio-cont {
  background-image: url('https://i.ibb.co/rxfbfGq/photo-1524777313293-86d2ab467344.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-bottom: 0;
}

.portfolio-q {
  background-color: white;
  margin-top: 0;
  padding: 5%;
  display: flex;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.portfolio-q img{
  padding-bottom: 2%;
}


/* Ctaegory Work Page endss here */

.checkform {
  color: black;
}

.checkform label {
  color: black;
}

.checkform1 {
  color: white;
}

.checkform1 label {
  color: white;
}

.checkform1 input {
  color: white;
}