{% extends 'base.html' %}

{% block content %}
<div class="portfolio-cont ">
  <h2 class="reveal">PORTFOLIO</h2>
  <p class="reveal">WEDDINGS, CELEBRATIONS & MORE</p>
</div>>

<div class="portfolio-q">
  <div class=" reveal">
  <img src="../static/images/b.png" alt="logo" width="23px" >
  <h6>TIMELESS CELEBRATIONS OF JOY</h6>
  <p>Events may last for a day, but memories last forever.<br> We strive to create an overall thoughtful and authentic experiencen <br>for our couples, where every creative detail contributes to a seamless result.</p>
</div>
</div>


  <div class="container">

      {% for work in works %}
     
        <div class="card reveal">
          <div class="card-body">
            <div class="image-container">
              <div class="image-slider">
                {% for work_image in work.images.all %}
                  {% with image_path=work_image.image.url|cut:'main_app/' %}
                    <img class="card-img" src="{{ image_path }}" alt="Work Image">
                  {% endwith %}
                {% endfor %}
              </div>
            </div>
            
            <a href="{% url 'workdetail' work.id %}">
              <h5 class="card-title">{{ work.title }}</h5>
            </a>
      
          </div>
        </div>

      {% endfor %}
 
  </div>


  <style>
    .container {
      margin-top: 3%;
      margin-bottom: 5%;
    
  
    }
    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height:50%;

    }

    .image-slider {
      display: flex;
      transition: transform 0.5s ease-in-out ;
    }

    .card-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

    .card-title {
      text-align: left;
    }
    
    .card {
      height: 440px;
      width: 300px;
      box-shadow: none;
      background-color: #F5F5F3;
      display: inline-block;
      margin: auto;
      margin-bottom: 5%;
    }

    .card a{
      color: black;
    }

    


  </style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
     const imageSliders = document.querySelectorAll('.image-slider');
 
     imageSliders.forEach(slider => {
       let imageIndex = 0;
       const images = slider.querySelectorAll('.card-img');
       
       
       if (images.length > 0) {
         const imageWidth = images[0].clientWidth;
 
         const animateImages = () => {
           imageIndex = (imageIndex + 1) % images.length;
           slider.style.transform = `translateX(-${imageIndex * imageWidth}px)`;
         };
 
         setInterval(animateImages, 5000);
       }
     });
   });
 </script>

{% endblock %}