{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Work List</h1>

    <div class="row">
      {% for work in works %}
        <div class="card">
          <div class="card-body">
            <div class="image-container">
              <div class="image-slider">
                {% for work_image in work.images.all %}
                  {% with image_path=work_image.image.url|cut:'main_app/' %}
                    <img class="card-img" src="{{ image_path }}" alt="Work Image">
                  {% endwith %}
                {% endfor %}
              </div>
            </div>
            <a href="{% url 'workdetail' work.id %}">
              <h5 class="card-title">{{ work.title }}</h5>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <style>
    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height:50%;

    }

    .image-slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .card-img {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
    }

    .card-title {
      text-align: center;
    }
  </style>

<script>
  const imageSlider = document.querySelectorAll('.image-slider');
  imageSlider.forEach(slider => {
    let imageIndex = 0;
    const images = slider.querySelectorAll('.card-img');
    const imageWidth = images[0].clientWidth;

    slider.addEventListener('click', () => {
      imageIndex = (imageIndex + 1) % images.length;
      slider.style.transform = `translateX(-${imageIndex * imageWidth}px)`;
    });
  });
</script>
{% endblock %}