{% extends 'base.html' %}

{% block content %}

<h1>{{ work.title }}</h1>

<div>
    <p>Description: {{ work.description }}</p>
    <p>Type: {{ work.worktype }}</p>
    <p>Category: {{ work.category }}</p>
   
    
    {%load static %}
    {% for work_image in work.images.all %}7
    {% with image_path=work_image.image.url|cut:'main_app/' %}
    <img src="{{ image_path }}" alt="Work Image">
    {% endwith %}
    {% endfor %}


</div>

<div>
    <a href="{% url 'works_update' work.id %}">Edit</a>
    <a href="{% url 'works_delete' work.id %}">Delete</a>
</div>

{% endblock %}
