{% extends 'base.html' %}

{% block content %}

<h1> {{ work.title }} </h1>

  <div>
  <p>Description: {{ work.description }}</p>

  <p> Type: {{ work.worktype }} </p>
  <p> Category: {{ work.category }} </p>

  {%load static %}
  {% for work_image in work.images.all %}
  {% with image_path=work_image.image.url|cut:'main_app/' %}
  <img src="{{ image_path }}" class="WorkDetail-Img" alt="Work Image">
  {% endwith %}
  {% endfor %}

  </div>

  <div>
    <button class="btn"><a href="{% url 'works_update' work.id  %}">Edit</a></button>
    <button class="btn"><a href="{% url 'works_delete' work.id %}">Delete</a></button>

  </div>


{% for user in work.users.all %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        {% for u in users_service.all %}
          {% if u.user_id == user.id  %}
            {% load static %}  
            <img src="{% static u.image|cut:'main_app/static/' %}" class="circle responsive-img"/>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col s10">
        <div class="card-content">
          <span class="card-title">{{user.username}}</span>
          {% for u in users_service.all %}
            {% if u.user_id == user.id  %}
              <p>{{u.get_service_display}}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="card-action">
          <a href="{% url 'user_detail' user.id %}"><button class="btn">Profile</button></a>
          <a href="{% url 'message_create' user.id %}"><button class="btn">Message</button></a>
        </div> 
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}