{% extends 'base.html' %}

{% block content %}
<div class="addwork-header">
  <div class="addwork-symbol"><img src="https://i.postimg.cc/tgwQ4c6V/symbol.png"  width="20" ></div>
 
  <h2>Welcome back...</h2>

  <p>"Cheers to you for a job well done! No one can compare to your creativity and passion, and it's no surprise that you've become so successful."</p>
</div>
  <div class="login-page">
    <div class="login-cont">
      <div class="form-cont">

  <form method="POST" action="{% url 'login' %}" class="checkform">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="Login">
    <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
  </form>
</div>
<div class="form-img"><img src="https://i.postimg.cc/fRdR6n0r/photo-1525772764200-be829a350797.jpg" class="form-image" ></div>
</div>
</div>

  

{% endblock %}
