{% extends 'base.html' %}

{% block content %}

<div class="inbox-h reveal "><h1>Message Details</h1></div>

<div class="inbox-box reveal">
  <span>Email: {{message.email}}</span>
  <p>Phone Number: {{message.phoneNumber}}</p>
  <P>Budget: {{message.budget}}</P>
  <P>Guest Count: {{message.guestCount}}</P>
  <P>Event Type: {{message.eventType}}</P>
  <p>Event Date: {{message.eventDate}}</p>
  <p>Description: {{message.description}}</p>
  <p>Sender: {{message.sender}}</p>


<div class="card-action">
{% if message.reply == False %}
<a href="{% url 'message_update' message.id %}" class="btn-floating pulse replybtn"><i class="material-icons">edit</i></a>
  <a href="{% url 'message_delete' message.id %}" class="btn-floating pulse replybtn"><i class="material-icons ">delete</i></a>
  <a href="{% url 'message_reply'  message.sender.id message.id %}" class="btn-floating pulse replybtn"><i class="material-icons">reply</i></a>
  {% endif %}

</div>
</div>

<style>
  .inbox-box {
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
    font-size: 22px;
    box-shadow: none;
    background-color: white;
    padding: 3%;
    border-radius: 20px;
  }

  .replybtn {
    background-color: black;
  }

  .inbox-h {
    margin: auto;
    justify-content: center;
    text-align: center;
  }

</style>




{% endblock %}